@import "tailwindcss";

@theme {
  --color-brand-50: #f0f4ff;
  --color-brand-100: #e0e9ff;
  --color-brand-200: #c7d7fe;
  --color-brand-300: #a4bbfc;
  --color-brand-400: #8098f9;
  --color-brand-500: #6172f3;
  --color-brand-600: #444ce7;
  --color-brand-700: #3538cd;
  --color-brand-800: #2d31a6;
  --color-brand-900: #2d3282;
  --color-brand-950: #1f2064;
}
